/* -----------------------------------------------------------------------------
 * category-settings
 * -------------------------------------------------------------------------- */

/* ----- categoryAddForm ----- */
.categoryAddForm {
  margin-bottom: 16px;
}

.categoryAddForm-name {
  display: inline;
  width: auto;
  vertical-align: middle;
}

/* ----- categoryItem ----- */
.categoryItem {
  cursor: pointer;

  > .categoryView {
    display: block;
  }

  > .categoryForm {
    display: none;
  }
}

// Switch to category form when the item is being edited
.categoryItem.editing {
  > .categoryView {
    display: none;
  }

  > .categoryForm {
    display: block;
  }
}

/* ----- categoryForm ----- */
.categoryForm-name {
  display: inline;
  width: auto;
  vertical-align: middle;
}
