<form name="categoryAddForm" class="categoryAddForm" ng-submit="vm.addCategory()" novalidate>

    <input type="text" name="categoryAddForm-name" class="categoryAddForm-name form-control" placeholder="Enter category name"
           ng-model="vm.addCategoryName" required>

    <button type="submit" class="btn btn-info" ng-disabled="categoryAddForm.$invalid">Add</button>

</form>


<ul class="list-group">
    <li class="categoryItem list-group-item" data-ng-repeat="c in vm.categories"
            ng-class="{editing: c.id === vm.editedCategory.id}" ng-click="vm.editCategory(c)">
        <div class="categoryView">
            {{c.name}}
        </div>

        <form name="categoryForm" class="categoryForm" ng-submit="vm.saveCategory()" novalidate>
            <input type="text" name="categoryForm-name" class="categoryForm-name form-control"
                   ng-model="vm.editedCategory.name" required>

            <button type="submit" class="btn btn-info btn-xs" ng-disabled="categoryForm.$invalid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-click="vm.cancelEdit(); $event.stopPropagation();">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </form>
    </li>
</ul>
