<form name="transactionForm" ng-submit="vm.ok()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.title}}</h3>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': transactionForm.account.$invalid && !transactionForm.account.$pristine }">
            <label for="account">Account</label>
            <select id="account" name="account" class="form-control"
                    ng-model="vm.txn.account_id" ng-options="account.id as account.name for account in vm.accounts" required>
            </select>
            <p ng-show="transactionForm.account.$invalid && !transactionForm.account.$pristine" class="help-block">
                Account is required.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.txn_date.$invalid && !transactionForm.txn_date.$pristine }">
            <label for="txn_date">Transaction Date</label>
            <input type="date" id="txn_date" name="txn_date" class="form-control" placeholder="Enter transaction date"
                   ng-model="vm.txn.txn_date" ng-model-options="{timezone: 'UTC'}" required>
            <p ng-show="transactionForm.txn_date.$invalid && !transactionForm.txn_date.$pristine" class="help-block">
                Transaction date is required.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.payee.$invalid && !transactionForm.payee.$pristine }">
            <label for="payee">Payee</label>
            <input type="text" id="payee" name="payee" class="form-control" placeholder="Enter payee"
                    ng-model="vm.txn.payee" required>
            <p ng-show="transactionForm.payee.$invalid && !transactionForm.payee.$pristine" class="help-block">
                Payee is required.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.memo.$invalid && !transactionForm.memo.$pristine }">
            <label for="memo">Memo</label>
            <input type="text" id="memo" name="memo" class="form-control" placeholder="Enter memo"
                   ng-model="vm.txn.memo">
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.category.$invalid && !transactionForm.category.$pristine }">
            <label for="category">Category</label>
            <select id="category" name="category" class="form-control"
                    ng-model="vm.txn.category_id" ng-options="c.id as c.name for c in vm.categories" required>
            </select>
            <p ng-show="transactionForm.category.$invalid && !transactionForm.category.$pristine" class="help-block">
                Category is required.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.payment.$invalid && !transactionForm.payment.$pristine }">
            <label for="payment">Payment</label>
            <input type="number" id="payment" name="payment" class="form-control" placeholder="Enter payment"
                   ng-model="vm.txn.payment" ng-required="!(vm.txn.payment || vm.txn.deposit)" ng-change="vm.paymentChanged()">
        </div>

        <div class="form-group" ng-class="{ 'has-error': transactionForm.deposit.$invalid && !transactionForm.deposit.$pristine }">
            <label for="deposit">Deposit</label>
            <input type="number" id="deposit" name="deposit" class="form-control" placeholder="Enter deposit"
                   ng-model="vm.txn.deposit" ng-required="!(vm.txn.payment || vm.txn.deposit)" ng-change="vm.depositChanged()">
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-info" ng-disabled="transactionForm.$invalid">OK</button>
        <button type="button" class="btn btn-danger" ng-show="vm.txn.id > 0" ng-click="vm.deleteTransaction()">Delete</button>
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>
