/* ----- accounts ----- */

.accountsPanel {
  float: left;
  width: 25%;
}

.transactionsPanel {
  float: left;
  width: 75%;
  margin-left: 25%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .accountsPanel {
    width: 20%;
  }

  .transactionsPanel {
    width: 80%;
    margin-left: 20%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .accountsPanel {
    width: 15%;
  }

  .transactionsPanel {
    width: 85%;
    margin-left: 15%;
  }
}

/* ----- transactions-panel ----- */

@import "transactions-panel/transactions-panel";
