<header class="transactionsPanel-header">
    <button class="btn btn-info" ng-click="vm.addTransaction(account.id)">Add Transaction</button>
</header>


<div class="table-responsive">
    <table class="transactions table table-hover">
        <thead>
        <tr>
            <th class="transactions-columnDate">Date</th>
            <th class="transactions-columnPayee">Payee</th>
            <th class="transactions-columnMemo">Memo</th>
            <th class="transactions-columnCategory">Category</th>
            <th class="transactions-columnAmount text-right">Amount</th>
            <th class="transactions-columnPayment text-right">Payment</th>
            <th class="transactions-columnDeposit text-right">Deposit</th>
            <th class="transactions-columnBalance text-right">Balance</th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="t in account.transactions" data-ng-click="vm.editTransaction(t, $event)">
            <td class="transactions-columnDate">{{t.txn_date | date : 'MM/dd/yyyy' : 'UTC'}}</td>
            <td class="transactions-columnPayee">{{t.payee}}</td>
            <td class="transactions-columnMemo">{{t.memo}}</td>
            <td class="transactions-columnCategory">{{t.category.name}}</td>
            <td class="transactions-columnAmount text-right">{{t.amount | number:2}}</td>
            <td class="transactions-columnPayment text-right">{{t.amount | payment}}</td>
            <td class="transactions-columnDeposit text-right">{{t.amount | deposit}}</td>
            <td class="transactions-columnBalance text-right">{{t.balance | number:2}}</td>
        </tr>
        </tbody>
    </table>
</div>