/* -----------------------------------------------------------------------------
 * account-settings
 * -------------------------------------------------------------------------- */

/* ----- accountAddForm ----- */
.accountAddForm {
  margin-bottom: 16px;
}

.accountAddForm-name {
  display: inline;
  width: auto;
  vertical-align: middle;
}

/* ----- accountItem ----- */
.accountItem {
  cursor: pointer;

  > .accountView {
    display: block;
  }

  > .accountForm {
    display: none;
  }
}

// Switch to account form when the item is being edited
.accountItem.editing {
  > .accountView {
    display: none;
  }

  > .accountForm {
    display: block;
  }
}

/* ----- accountForm ----- */
.accountForm-name {
  display: inline;
  width: auto;
  vertical-align: middle;
}
