<form name="accountAddForm" class="accountAddForm" ng-submit="vm.addAccount()" novalidate>

    <input type="text" name="accountAddForm-name" class="accountAddForm-name form-control" placeholder="Enter account name"
           ng-model="vm.addAccountName" required>

    <button type="submit" class="btn btn-info" ng-disabled="accountAddForm.$invalid">Add</button>

</form>


<ul class="list-group">
    <li class="accountItem list-group-item" data-ng-repeat="a in vm.accounts"
            ng-class="{editing: a.id === vm.editedAccount.id}"  ng-click="vm.editAccount(a)">
        <div class="accountView">
            {{a.name}}
        </div>

        <form name="accountForm" class="accountForm" ng-submit="vm.saveAccount()" novalidate>
            <input type="text" name="accountForm-name" class="accountForm-name form-control"
                   ng-model="vm.editedAccount.name" required>

            <button type="submit" class="btn btn-info btn-xs" ng-disabled="accountForm.$invalid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-click="vm.cancelEdit(); $event.stopPropagation();">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </form>
    </li>
</ul>
